.about {
  padding-top: 100px;
  padding-bottom: 45px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.about__box {
  display: grid;
  grid-template-columns: 600px auto;
  column-gap: 80px;
  row-gap: 48px;
}

.about__img {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 600px;
  height: 596px;
}

.about__content {
  /* max-width: 500px; */
}

.about__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 48px;
}

.about__desc:last-of-type {
  margin-bottom: 0;
}

.about__citate {
  position: relative;
  margin: 0;
  padding-left: 31px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.about__citate-desc {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.13636;
  text-transform: uppercase;
  margin-bottom: 40px;
  white-space: pre-line;
}

.about__citate-desc:before {
  position: absolute;
  content: "\201c";
  left: 0px;
  top: -9px;
  width: 22px;
  height: 50px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.13636;
  text-transform: uppercase;
  color: var(--purple);
}

.about__citate-desc:after {
  position: absolute;
  content: "\201c";
  right: 107px;
  top: 134px;
  width: 22px;
  height: 50px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.13636;
  text-transform: uppercase;
  color: var(--purple);
  transform: rotate(180deg);
}

.about__citate-boss {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 29px;
}

.about__citate-boss-img {
  border-radius: 100%;
}

.desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  max-width: 279px;
  text-transform: none;
}


@media(max-width: 1199.99px) {

  .container {
    max-width: 904px;
  }

  .about {
    padding-bottom: 70px;
  }

  /* .about__content {
    align-self: center;
    grid-row: 1/3;
  } */

  .about__title {
    font-size: 30px;
    line-height: 1.33333;
    margin-bottom: 26px;
  }

  .about__box {
    display: grid;
    grid-template-columns: 420px auto;
    column-gap: 40px;
    row-gap: 26px;
  }

  .about__img {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 420px;
    height: 417px;
  }

  .about__desc {
    font-size: 18px;
    line-height: 1.33333;
    margin-bottom: 26px;
  }

  .about__citate {
    /* max-width: 444px; */
    padding-left: 25px;
  }

  .about__citate-desc {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 16px;
  }

  .about__citate-desc:before {
    position: absolute;
    content: "\201c";
    left: 0px;
    top: -9px;
    width: 15px;
    height: 36px;
  }

  .about__citate-desc:after {
    right: 170px;
    top: 67px;
    width: 15px;
    height: 36px;
  }

  .about__citate-boss {
    gap: 35px;
  }

  .about__citate-boss-img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
  }

  .desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.44444;
    max-width: 225px;
    text-transform: none;
  }
}

@media(max-width: 767.99px) {


  .container {
    max-width: 688px;
  }

  .about {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about__title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .about__box {
    display: grid;
    grid-template-columns: 382px auto;
    grid-template-rows: repeat(2, auto);
    column-gap: 28px;
    row-gap: 30px;
  }

  .about__img {
    max-width: 382px;
    height: 100%;
    object-fit: cover;
  }

  .about__desc {
    font-size: 18px;
    line-height: 1.33333;
    margin-bottom: 26px;
  }

  .about__citate {
    grid-row: 3/3;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
  }

  .about__citate-desc {
    font-size: 32px;
    line-height: 1.125;
    margin-bottom: 16px;
  }

  .about__citate-desc:before {
    position: absolute;
    content: "\201c";
    left: 0px;
    top: -9px;
    width: 15px;
    height: 36px;
  }

  .about__citate-desc:after {
    right: 117px;
    top: 33px;
    width: 15px;
    height: 36px;
  }

  .about__citate-boss {
    gap: 25px;
  }

  .about__citate-boss-img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
  }

  .desc {
    font-size: 18px;
    line-height: 1.44444;
  }
}


@media(max-width: 479.99px) {

  .about {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .container {
    max-width: 280px;
    padding: 0 20px;
  }


  .about__title {
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 15px;
  }

  .about__box {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .about__content {
    order: -1;
  }

  .about__img {
    max-width: 280px;
    height: 100%;
    object-fit: cover;
  }

  .about__desc {
    font-size: 12px;
    line-height: 1.33333;
  }

  .about__citate {
    padding-left: 15px;
  }

  .about__citate-desc {
    font-size: 18px;
    line-height: 1.44444;
    margin-bottom: 9px;
  }

  .about__citate-desc:before {
    display: inline-block;
    position: absolute;
    content: "\201c";
    left: -4px;
    top: -20px;
    width: 11px;
    height: 50px;
  }

  .about__citate-desc:after {
    right: 102px;
    top: 34px;
    width: 11px;
    height: 50px;
  }

  .about__citate-boss {
    gap: 11px;
  }

  .about__citate-boss-img {
    width: 56px;
    height: 56px;
  }

  .desc {
    font-size: 12px;
    line-height: 1.33333;
  }

}