.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.about__box {
  display: flex;
  gap: 80px;
}

.about__content {
  max-width: 500px;
}

.about__desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 48px;
}

.about__citate {
  position: relative;
  max-width: 500px;
  margin: 0;
  padding-left: 31px;
}

.about__citate-desc {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.13636;
  text-transform: uppercase;
  margin-bottom: 40px;
  white-space: pre-line;
}

.about__citate-desc:before {
  position: absolute;
  content: "\201c";
  left: 0px;
  top: -9px;
  width: 22px;
  height: 50px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.13636;
  text-transform: uppercase;
  color: var(--purple);
}

.about__citate-desc:after {
  position: absolute;
  content: "\201c";
  right: 107px;
  top: 134px;
  width: 22px;
  height: 50px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.13636;
  text-transform: uppercase;
  color: var(--purple);
  transform: rotate(180deg);
}

.about__citate-boss {
  /* max-width: 389px; */
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 29px;
}

.about__citate-boss-img {
  border-radius: 100%;
}

.desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  max-width: 279px;
  text-transform: none;
}