.booking {
  background: var(--jagger);
  padding-top: 80px;
  padding-bottom: 80px;
}

.booking__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.booking__img {
  display: block;
  width: 100%;
}


.booking__field-halls {
  border: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.booking__field-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  text-align: center;
  margin-bottom: 40px;
}

.booking__label-halls {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--main-color);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  flex-basis: 250px;
  height: 55px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.booking__label-halls:hover {
  background-color: #eadeed;
  border: 3px solid #640aa3;
}

.booking__label-halls:focus {
  background-color: var(--main-color);
  border: 3px solid #640aa3;
}

.booking__label-halls:active {
  background-color: #6c0287;
  border: 3px solid var(--main-color);
  color: var(--main-color);
}

.booking__radio-halls {
  display: none;
}

.booking__field-game {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
  max-width: 980px;
  margin: 0 auto;
  border: none;
}

.booking__title-game {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  text-align: center;
  margin-bottom: 40px;
}

.booking__field-box {
  display: flex;
  justify-content: space-between;
  border: none;
  width: 100%;
  margin-bottom: 60px;
}

.booking__field-console {
  flex-basis: 280px;
  border: none;
}

.booking__subtitle-console {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  color: var(--main-color);
  margin-bottom: 24px;
}

.booking__list-console {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking__label-console {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  color: var(--main-color);
  position: relative;
  padding-left: 37px;
}

.booking__radio-console {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 12px;
}

.booking__radio-console::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 27px;
  height: 27px;
  background-color: var(--main-color);
  border: 3px solid #640AA3;
  border-radius: 50%;
}

.booking__radio-console::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27px;
  height: 27px;
  opacity: 0;
  background-color: #640AA3;
  border: 2px solid var(--dark-color);
  border-radius: 50%;
}

.booking__radio-console:checked::before {
  background-color: transparent;
}

.booking__radio-console:checked::after {
  opacity: 1;
}

.booking__radio-console:focus {
  outline-offset: 1px;
  outline-width: 1px;
  outline-color: #CD06FF;
  width: 27px;
  height: 27px;
}

.booking__field-table {
  border: none;
  flex-basis: 300px;

}

.booking__subtitle-table {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  margin-bottom: 24px;
}

.booking__list-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.booking__label-table {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  color: var(--main-color);
  position: relative;
  padding-left: 37px;
}

.booking__checkbox-table {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.booking__checkbox-table::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-color: var(--main-color);
  border: 3px solid #640AA3;
}

.booking__checkbox-table:checked::before {
  background-color: transparent;
}

.booking__checkbox-table::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  opacity: 0;
  background-color: #640AA3;
  border: 2px solid var(--dark-color);
}

.booking__checkbox-table:checked::after {
  opacity: 1;
}

.booking__checkbox-table:focus {
  outline-offset: 1px;
  outline-width: 1px;
  outline-color: #CD06FF;
  width: 25px;
  height: 25px;
}


.booking__field-karaoke {
  border: none;
  flex-basis: 300px;
}

.booking__subtitle-karaoke {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  margin-bottom: 24px;
}

.booking__list-karaoke {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: auto;
}

.booking__label-karaoke {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 22px;
  color: var(--main-color);
  position: relative;
  padding-left: 37px;
}

.booking__checkbox-karaoke {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.booking__checkbox-karaoke::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-color: var(--main-color);
  border: 3px solid #640AA3;
}

.booking__checkbox-karaoke::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  opacity: 0;
  background-color: #640AA3;
  border: 2px solid var(--dark-color);
}

.booking__checkbox-karaoke:checked::before {
  background-color: transparent;
}

.booking__checkbox-karaoke:checked::after {
  opacity: 1;
}

.booking__checkbox-karaoke:focus {
  outline-offset: 1px;
  outline-width: 1px;
  outline-color: #CD06FF;
  width: 25px;
  height: 25px;
}

.booking__field-reserve {
  display: flex;
  margin: 0 auto;
  max-width: 980px;
}

.reserve-block {
  display: flex;
  column-gap: 50px;
  align-items: end;
  max-width: 980px;

}

.booking__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  text-align: center;
  margin-bottom: 38px;
}

.reserve-block {
  flex-wrap: wrap;
  row-gap: 40px;
}

.reserve-block__item--first {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.reserve-block-item--third {
  margin-left: auto;
  max-width: 300px;
}

.row-group {
  display: flex;
  column-gap: 32px;
}

.reserve-block__input {
  width: 134px;
  height: 52px;
  padding: 0 15px;
}

.reserve-block__input::-webkit-input-placeholder {
  background-image: url('../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center right;
  width: 100%;
  height: 23px;
  content: "Дата";
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #211e1e;

}

.reserve-block__input--time::-webkit-input-placeholder {
  background-image: url('../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center right;
  width: 100%;
  height: 23px;
  content: "Время";
  display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.reserve-block__input--full {
  width: 100%;
}

.reserve-block-item--sec {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  max-width: 280px;
  flex-grow: 1;
}

.group {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  max-width: 280px;
}

.group-label {
  font-size: 14px;
}

.group-input {
  width: 100%;
  height: 52px;
  display: block;
  padding: 0 15px;
}

.group-input:focus {
  border: 2px solid #cd06ff;
}

.reserve-block-item--third {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  max-width: 300px;
  flex-grow: 1;
}

.group-third {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  max-width: 300px;
}

.booking__btn {
  display: block;
  margin-left: auto;
  border-radius: 10px;
  padding: 16px 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.27273;
  text-transform: uppercase;
  color: var(--purple);
  border: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.booking__btn:hover {
  background-color: #eadeed;
  border: 3px solid var(--purple);
}

.booking__btn:focus {
  background-color: #fff;
  border: 3px solid var(--purple);
}

.booking__btn:active {
  background-color: #eadeed;
}

/* Adaptive */

@media(max-width: 1199.99px) {
  .booking {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .container {
    max-width: 904px;
  }


  .booking__title {
    font-size: 30px;
    line-height: 1.33333;
    margin-bottom: 25px;
  }

  .booking__field-title {
    margin-bottom: 26px;
  }

  .booking__label-halls {
    border-radius: 6px;
    font-size: 20px;
    line-height: 1.2;
    flex-basis: 180px;
    height: 44px;
  }

  .booking__field-game {
    max-width: 904px;
  }

  .booking__title-game {
    margin-bottom: 26px;
  }

  .group-phone {
    font-size: 14px;
    line-height: 1.14286;
  }

  .group-email {
    font-size: 14px;
    line-height: 1.14286;
  }

  .booking__btn {
    padding: 13px 45px;
    font-size: 18px;
    line-height: 1.33333;
    border: none;
  }
}

@media(max-width: 767.99px) {

  .booking {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container {
    max-width: 688px;
    padding: 0 40px;
  }

  .booking__title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .booking__field-title {
    margin-bottom: 30px;
  }

  .booking__field-halls {
    margin-bottom: 50px;
  }

  .booking__label-halls {
    border-radius: 6px;
    font-size: 16px;
    line-height: 1.25;
    flex-basis: 150px;
    height: 38px;
  }

  .booking__field-game {
    max-width: 688px;
  }

  .booking__title-game {
    margin-bottom: 30px;
  }

  .booking__field-box {
    flex-wrap: wrap;
    margin-bottom: 50px;
    row-gap: 32px;
  }

  .booking__field-console {
    max-width: 300px;
  }

  .booking__subtitle-console {
    margin-bottom: 24px;
  }

  .booking__label-console {
    max-width: 300px;
    padding-left: 60px;
    height: 40px;
  }

  .booking__radio-console::before {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .booking__radio-console::after {
    width: 40px;
    height: 40px;
    top: 75%;
    left: 75%;
  }

  .booking__label-table {
    max-width: 320px;
    padding-left: 60px;
    height: 40px;
  }

  .booking__checkbox-table::before {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .booking__checkbox-table::after {
    width: 40px;
    height: 40px;
    top: 75%;
    left: 75%;
  }

  .booking__label-karaoke {
    max-width: 280px;
    padding-left: 60px;
    height: 40px;
  }

  .booking__checkbox-karaoke::before {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .booking__checkbox-karaoke::after {
    width: 40px;
    height: 40px;
    top: 75%;
    left: 75%;
  }

  .reserve-block {
    flex-wrap: wrap;
    row-gap: 42px;
  }

  .reserve-block__item--first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .reserve-block__input--full {
    flex-grow: 1;
    max-width: 300px;
  }

  .row-group {
    display: flex;
    column-gap: 14px;
  }

  .booking__subtitle {
    margin-bottom: 30px;
  }

  .group-phone {
    font-size: 14px;
    line-height: 1.14286;
  }

  .group-email {
    font-size: 14px;
    line-height: 1.14286;
  }

  .booking__btn {
    padding: 16px 50px;
    font-size: 22px;
    line-height: 1.27273;
    border: none;
  }
}

@media(max-width: 479.99px) {

  .booking {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .container {
    max-width: 280px;
    padding: 0 20px;
  }

  .booking__title {
    font-size: 14px;
    line-height: 1.42857;
    margin-bottom: 13px;
  }

  .booking__field-title {
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 15px;
  }

  .booking__field-halls {
    display: grid;
    grid-template-columns: 130px 130px;
    column-gap: 20px;
    row-gap: 14px;
    margin-bottom: 30px;
  }

  .booking__label-halls {
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.28571;
  }

  .booking__field-game {
    max-width: 280px;
  }

  .booking__title-game {
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 15px;
  }

  .booking__field-box {
    flex-wrap: wrap;
    margin-bottom: 50px;
    row-gap: 32px;
  }

  .booking__field-console {
    max-width: 300px;
  }

  .booking__subtitle-console {
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 15px;
  }

  .booking__label-console {
    max-width: 300px;
    padding-left: 50px;
    height: 30px;
    font-size: 16px;
  }

  .booking__radio-console::before {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .booking__radio-console::after {
    width: 30px;
    height: 30px;
    top: 55%;
    left: 55%;
  }

  .booking__subtitle-table {
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 15px;
  }

  .booking__label-table {
    max-width: 320px;
    padding-left: 50px;
    height: 30px;
    font-size: 16px;
  }

  .booking__checkbox-table::before {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .booking__checkbox-table::after {
    width: 30px;
    height: 30px;
    top: 55%;
    left: 55%;
  }

  .booking__field-karaoke {
    margin-bottom: 30px;
  }

  .booking__subtitle-karaoke {
    font-size: 14px;
    line-height: 1.285713;
    margin-bottom: 15px;
  }

  .booking__label-karaoke {
    max-width: 280px;
    padding-left: 50px;
    height: 30px;
    font-size: 16px;
  }

  .booking__checkbox-karaoke::before {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .booking__checkbox-karaoke::after {
    width: 30px;
    height: 30px;
    top: 55%;
    left: 55%;
  }

  .booking__subtitle {
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 25px;
  }

  .reserve-block {
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .reserve-block__item--first {
    max-width: 280px;
  }

  .reserve-block__input {
    font-size: 14px;
    line-height: 1.28571;
  }

  .row-group {
    gap: 12px;
  }

  .reserve-block__item--first {
    flex-wrap: wrap;
    row-gap: 15px;
  }

  .reserve-block-item--sec {
    width: 280px;
  }

  .reserve-block-item--third {
    max-width: 280px;
  }

  .group-phone {
    font-size: 14px;
    line-height: 1.14286;
  }

  .group-email {
    font-size: 14px;
    line-height: 1.14286;
  }

  .booking__btn {
    padding: 17px 58px;
    font-size: 18px;
    line-height: 1.33333;
    border: none;
  }
}