.contacts {
  padding-top: 55px;
  background: linear-gradient(180.00deg, rgb(27, 26, 27), rgb(55, 10, 55) 100%);
}

.contacts__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.contacts__box {
  display: flex;
  justify-content: center;
}

.contacts__info-list {
  font-style: normal;
}

.contacts__info-img {
  display: inline-flex;
  margin-right: 30px;
}

.contacts__info-address {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  margin-bottom: 38px;

  svg {
    width: 32px;
    height: 32px;
    margin-right: 28px;
    color: var(--electric-violet);
  }
}

.contacts__info-phone {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  margin-bottom: 11px;

  svg {
    width: 32px;
    height: 32px;
    margin-right: 28px;
    color: var(--electric-violet);
  }
}

.contacts__info-mail {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  margin-bottom: 39px;

  svg {
    width: 32px;
    height: 32px;
    margin-right: 28px;
    color: var(--electric-violet);
  }
}

.social__list {
  display: flex;
  gap: 26px;
}

.social__link {
  color: #ffffff;
  display: block;
  height: 50px;
  width: 50px;
  outline: 1px solid transparent;
  transition: 0.3s ease-in-out;
}

.social__link:hover {
  color: #eadeed;
}

.social__link:focus {
  fill: #eadeed;
  border: 1px solid var(--electric-violet);
}

.social__link:active {
  color: var(--electric-violet);
}

.contacts__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
}

.contacts__copyright {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.contacts__copyright-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  color: var(--main-color);
}

.contacts__developer-list {
  display: flex;
  flex-direction: column;
  text-align-last: right;
}

.contacts__developer-item:not(:last-child) {
  margin-bottom: 6px;
}

.contacts__developer-text {
  margin-bottom: 6px;
}

.contacts__developer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  color: var(--main-color);
  transition: color 0.3s ease-in-out;
}

.contacts__developer-link:hover {
  color: var(--electric-violet);
}

@media(max-width: 1199.99px) {


  .contacts__title {
    font-size: 30px;
    line-height: 1.33333;
    margin-bottom: 26px;
  }

  .contacts__info-address {
    margin-bottom: 40px;

    svg {
      width: 26px;
      height: 26px;
      margin-right: 13px;
    }
  }

  .contacts__info-phone {
    margin-bottom: 7px;

    svg {
      width: 26px;
      height: 26px;
      margin-right: 14px;
    }
  }

  .contacts__info-mail {
    display: flex;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    margin-bottom: 40px;

    svg {
      width: 26px;
      height: 26px;
      margin-right: 13px;
    }
  }

  .contacts__box-image {
    max-width: 542px;
  }

  .social__link {
    height: 40px;
    width: 40px;

    svg {
      width: 38px;
      height: 38px;
    }
  }

  .contacts__box {
    margin-bottom: 149px;
  }

  .contacts__copyright {
    padding-bottom: 20px;
  }
}

@media(max-width: 767.99px) {


  .contacts__title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .contacts__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
  }

  .contacts__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts__info-address {
    margin-bottom: 27px;
    padding-left: 99px;

    svg {
      width: 26px;
      height: 26px;
    }
  }

  .contacts__info-phone {
    margin-bottom: 27px;
    padding-left: 53px;

    svg {
      width: 26px;
      height: 26px;
      margin-right: 14px;
    }
  }

  .contacts__info-mail {
    margin-bottom: 27px;
    padding-left: 19px;

    svg {
      width: 26px;
      height: 26px;
      margin-right: 13px;
    }
  }

  .social__list {
    margin-bottom: 30px;
  }

  .contacts__box-image {
    max-width: 688px;
  }

  .social__link {
    height: 40px;
    width: 40px;

    svg {
      max-width: 100%;
      height: auto;
    }
  }

  .contacts__copyright {
    padding-bottom: 18px;
  }
}

@media(max-width: 479.99px) {


  .contacts__title {
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 15px;
  }

  .contacts__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 62px;
  }

  .contacts__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts__info-address {
    font-size: 14px;
    align-items: flex-start;
    line-height: 1.28571;
    margin-bottom: 10px;
    padding-left: 80px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .contacts__info-phone {
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 10px;
    padding-left: 59px;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 2px;
    }
  }

  .contacts__info-mail {
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 10px;
    padding-left: 20px;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 2px;
    }
  }

  .social__list {
    margin-bottom: 35px;
    gap: 20px;
  }

  .contacts__box-image {
    max-width: 688px;
  }

  .social__link {
    height: 30px;
    width: 30px;

    svg {
      max-width: 100%;
      height: auto;
    }
  }

  .contacts__box-image {
    max-width: 280px;
  }

  .contacts__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
  }

  .contacts__copyright-text {
    font-size: 12px;
    line-height: 1.33333;
    margin-bottom: 20px;
  }

  .contacts__developer-list {
    font-size: 12px;
    line-height: 1.33333;
  }
}