.contacts {
  padding-top: 50px;
  background: linear-gradient(180.00deg, rgb(27, 26, 27), rgb(55, 10, 55) 100%);
}

.contacts__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 54px;
}

.contacts__box {
  display: flex;
  justify-content: center;
}

svg {
  display: inline-flex;
  margin-right: 30px;
}

.contacts__info-address {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  margin-bottom: 38px;
  font-style: normal;
}

.contacts__info-phone {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  margin-bottom: 11px;
}

.contacts__info-mail {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16667;
  margin-bottom: 39px;
}

.social__list {
  display: flex;
  gap: 26px;
}

.contacts__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
}

.contacts__copyright {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.contacts__copyright-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  color: #fff;
}

.contacts__developer-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  text-align-last: right;
}

.contacts__developer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14286;
  color: #fff;
}