.header {
  padding-top: 30px;

}

.header__inner {
  display: flex;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav__link {
  font-weight: 400;
  font-size: 22px;
  line-height: 2.27273;
  text-transform: uppercase;
  color: var(--main-color);
  transition: 0.3s ease-in-out;

}

.nav__link:hover {
  color: var(--electric-violet);
}

.header__btn {
  padding: 12px 32px 13px 32px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.36364;
  text-transform: uppercase;
  color: var(--main-color);
  border: 3px solid var(--electric-violet);
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.header__btn:hover {
  background-color: var(--purple);
  border: 3px solid var(--purple);
}

.header__btn:focus {
  background-color: var(--purple);
  outline: none;
  border: 3px solid transparent;
}

.header__btn:active {
  background-color: #640aa3;
  border: 3px solid transparent;
  outline: 1px solid var(--dark-color);
}

/* PAGES */

.header-pages {
  padding-bottom: 20px;
}

.header__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.27273;
  color: #fff;
  transition: 0.3s ease-in-out;

  svg {
    fill: #fff;
    transition: 0.3s ease-in-out;
  }
}

.header__link:hover {
  color: var(--electric-violet);

  svg {
    fill: var(--electric-violet);
    ;
  }
}

@media(max-width: 1199.99px) {

  .header__inner {
    margin-bottom: 50px;
  }

  .logo {
    width: 87px;
    height: 55px;
  }

  .nav__list {
    gap: 20px;
  }

  .nav__link {
    font-size: 18px;
    line-height: 1.22222;

  }

  .nav__link:hover {
    color: var(--electric-violet);
  }

  .header__btn {
    font-size: 18px;
    line-height: 1.33333;
    padding: 11px 26px;
  }

  .header__btn:hover {
    background-color: var(--purple);
    border: 3px solid var(--purple);
  }

  .header__btn:focus {
    background-color: var(--purple);
    outline: none;
    border: 3px solid transparent;
  }

  .header__btn:active {
    background-color: #640aa3;
    border: 3px solid transparent;
    outline: 1px solid var(--dark-color);
  }
}

@media(max-width: 769.99px) {

  .container {
    max-width: 688px;
  }

  .header__inner {
    margin-bottom: 40px;
  }

  .burger {
    position: relative;
    width: 54px;
    height: 30px;
    display: block;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .burger__line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background: #6c0287;
    transform: translateY(-50%);
  }

  .burger::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background: #6c0287;
  }

  .burger::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 31px;
    height: 5px;
    border-radius: 2px;
    background: #6c0287;
  }

  .nav {
    display: none;
  }

  .header__link {
    font-size: 16px;
    line-height: 1.75;
  }
}