.hero {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero__banner {
  position: relative;
  height: 823px;
}

.hero__banner:before {
  position: absolute;
  content: "";
  background-image: url(../img/vr.png);
  width: 675px;
  height: 762px;
  top: 61px;
  right: 0;
  z-index: 3;
}

.hero__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 1;
  letter-spacing: -15px;
  z-index: 2;
}

.hero__desc {
  padding-left: 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.78571;
  margin-bottom: 30px;
}

.hero-content__list {
  display: flex;
  align-items: center;
  align-content: start;
  gap: 40px;
  margin-bottom: 150px;
}

.hero-content__item--left {
  flex-basis: 193px;
  max-height: 209px;
}

.hero-content__title-left {
  font-weight: 900;
  font-size: 100px;
  color: #cd06ff;
  text-align: center;
}

.hero-content__text {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--main-color);
}

.hero-content__item--right {
  max-width: 161px;
  align-self: flex-end;
}

.hero-content__title-right {
  font-weight: 900;
  font-size: 75px;
  font-variant: all-small-caps;
  color: var(--electric-violet);
}

.hero__btn {
  padding: 25px 69px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15385;
  text-transform: uppercase;
  color: var(--main-color);
  border: none;
  border-radius: 10px;
  background: var(--purple);
  transition: 0.3s ease-in-out;
}

.hero__btn:hover {
  background-color: #840aa3;
}

.hero__btn:focus {
  background-color: #840aa3;
}

.hero__btn:active {
  background-color: #640aa3;
}

.hero__btn-link {
  display: block;
  position: absolute;
  bottom: 90px;
  left: 544px;
  z-index: 3;
  fill: transparent;
}

.down {
  stroke: var(--main-color);
  width: 99px;
  height: 99px;
  transition: fill 0.3s, color 0.3s;
}

.down:hover {
  fill: var(--main-color);
  color: var(--electric-violet);
  stroke: var(--main-color);
}

.down:active {
  color: var(--main-color);
  fill: var(--electric-violet);
  stroke: var(--electric-violet);
}

.hero__btn-link:focus {
  outline-offset: 0;
  outline: 2px solid var(--electric-violet);
}

@media(max-width: 1199.99px) {

  .container {
    max-width: 904px;
  }

  .hero {
    padding-bottom: 42px;
  }

  .hero__banner {
    max-width: 904px;
  }

  .hero__banner:before {
    position: absolute;
    content: "";
    background-image: url(../img/vr.png);
    max-width: 453px;
    height: 520;
    top: 63px;
    right: 0;
    z-index: 3;
  }

  .hero__title {
    font-size: 120px;
    letter-spacing: -0.1em;
    margin-bottom: 20px;

    .hero__desc {
      font-size: 22px;
      line-height: 1.33333;
      margin-bottom: 30px;
    }

    .hero-content__item--left {
      flex-basis: 168px;
      max-height: 173px;
    }

    .hero-content__title-left {
      font-size: 80px;
    }

    .hero-content__text {
      font-size: 26px;
    }

    .hero-content__item--right {
      max-width: 140px;
      align-self: flex-end;
    }

    .hero-content__title-right {
      font-size: 60px;
    }

    .hero__btn {
      padding: 17px 48px;
      font-size: 22px;
      line-height: 1.5;
    }
  }

  .hero__btn-link {
    width: 67px;
    height: 67px;
  }
}


@media(max-width: 767.99px) {

  .container {
    max-width: 688px;
  }

  .hero {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .hero__banner {
    height: 479px;
  }

  .hero__banner:before {
    position: absolute;
    content: "";
    background-image: url(../img/vr.png);
    max-width: 675px;
    height: 100%;
    top: 40px;
    right: -108px;
    z-index: 3;
  }

  .hero__title {
    max-width: 506px;
    font-size: 86px;
  }

  .hero__desc {
    font-size: 18px;
    line-height: 1.33333;
    margin-bottom: 50px;
  }

  .hero-content__item--left {
    flex-basis: 103px;
    max-height: 107px;
  }

  .hero-content__title-left {
    font-size: 50px;
  }

  .hero-content__text {
    font-size: 16px;
  }

  .hero-content__item--right {
    max-width: 89px;
    align-self: flex-end;
  }

  .hero-content__title-right {
    font-size: 40px;
  }

  .hero__btn {
    padding: 11px 35px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media(max-width: 479.99px) {

  .container {
    max-width: 280px;
  }

  .hero {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .hero__banner {
    height: 479px;
  }

  .hero__title {
    max-width: 212px;
    font-size: 35px;
    margin-bottom: 6px;
  }

  .hero__desc {
    font-size: 10px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  .hero-content__item--left {
    flex-basis: 103px;
    max-height: 107px;
  }

  .hero-content__title-left {
    font-size: 50px;
  }

  .hero-content__text {
    font-size: 16px;
  }

  .hero-content__item--right {
    max-width: 89px;
    align-self: flex-end;
  }

  .hero-content__title-right {
    font-size: 40px;
  }

  .hero__btn {
    padding: 11px 35px;
    font-size: 16px;
    line-height: 1.5;
  }
}