.hero {
  padding-top: 25px;
  padding-bottom: 50px;
}

.hero__banner {
  position: relative;
  max-width: 1180px;
  height: 823px;
}

.hero__banner:before {
  position: absolute;
  content: "";
  background-image: url(../img/vr.png);
  width: 675px;
  height: 762px;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.hero__title {
  margin: 0;
  font-weight: 900;
  font-size: 150px;
  line-height: 1;
  letter-spacing: -15px;
  z-index: 2;
}

.hero__desc {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.78571;
}

.hero-content__list {
  display: flex;
  align-items: center;
  align-content: start;
  gap: 40px;
  margin-bottom: 150px;
}

.hero-content__item--left {
  flex-basis: 193px;
  max-height: 209px;
}

.hero-content__title-left {
  font-weight: 900;
  font-size: 100px;
  color: #cd06ff;
  text-align: center;
}

.hero-content__text {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  color: var(--main-color);
}

.hero-content__item--right {
  max-width: 161px;
  align-self: flex-end;
}

.hero-content__title-right {
  font-weight: 900;
  font-size: 75px;
  font-variant: all-small-caps;
  color: var(--electric-violet);
}

.hero__btn {
  display: block;
  width: max-content;
  padding: 25px 69px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15385;
  text-transform: uppercase;
  color: var(--main-color);
  border: none;
  border-radius: 10px;
  background: var(--purple);
  transition: 0.3s ease-in-out;
}

@media (any-hover: hover) {
  .hero__btn:hover {
    stroke: #fff;
    background-color: #840aa3;
  }
}



.hero__btn:focus {
  background-color: #840aa3;
}

.hero__btn:active {
  background-color: #640aa3;
}

.hero__btn-link {
  position: absolute;
  display: block;
  bottom: 91px;
  right: 544px;
  z-index: 3;
  stroke: #fff;
  color: transparent;
}

@media (any-hover: hover) {
  .hero__btn-link:hover {
    stroke: var(--purple);
    color: #fff;
  }
}


.hero__btn-link:active {
  color: var(--electric-violet);
  stroke: var(--main-color);
}

.hero__btn-link:focus {
  outline-offset: 0;
  outline: 2px solid var(--electric-violet);
}

@media(max-width: 1199.99px) {

  .hero {
    padding-top: 15px;
    padding-bottom: 38px;
  }

  .container {
    max-width: 904px;
  }


  .hero__banner {
    max-width: 904px;
    height: 583px;
  }

  .hero__banner:before {
    position: absolute;
    content: "";
    background-image: url(../img/vr-medium.png);
    max-width: 453px;
    height: 520px;
    bottom: 0 63px;
    right: 0;
    z-index: 3;
  }

  .hero__title {
    font-size: 120px;
    letter-spacing: -0.1em;
    margin-bottom: 20px;
  }

  .hero__desc {
    font-size: 22px;
    line-height: 1.33333;
    margin-bottom: 30px;
  }

  .hero-content__list {
    margin-bottom: 120px;
  }

  .hero-content__item--left {
    flex-basis: 168px;
    max-height: 173px;
  }

  .hero-content__title-left {
    font-size: 80px;
  }

  .hero-content__text {
    font-size: 26px;
  }

  .hero-content__item--right {
    max-width: 140px;
    align-self: flex-end;
  }

  .hero-content__title-right {
    font-size: 60px;
  }

  .hero__btn {
    position: absolute;
    bottom: 66px;
    padding: 17px 48px;
    font-size: 22px;
    line-height: 1.36364;
  }

  .hero__btn-link {
    bottom: 46px;
    left: 412px;
    z-index: 3;
    fill: transparent;
    width: 67px;
    height: 67px;
  }
}



@media(max-width: 767.99px) {

  .hero {
    padding-top: 15px;
    padding-bottom: 40px;
  }

  .container {
    max-width: 688px;
    padding: 0 40px;
  }

  .hero__banner {
    max-width: 687px;
    height: 537px;
  }

  .hero__banner:before {
    position: absolute;
    content: "";
    background-image: url(../img/vr-mobile.png);
    max-width: 409px;
    height: 479px;
    top: 58px;
    right: 0;
    z-index: 3;
  }

  .hero__title {
    font-size: 86px;
    line-height: 1;
    margin-bottom: 20px;
  }

  .hero__desc {
    font-size: 18px;
    line-height: 1.33333;
    margin-bottom: 50px;
  }

  .hero-content__item--left {
    flex-basis: 103px;
    height: 107px;
  }

  .hero-content__title-left {
    font-size: 50px;
  }

  .hero-content__text {
    font-size: 16px;
  }

  .hero-content__item--right {
    flex-basis: 89px;
    height: 92px;
  }

  .hero-content__title-right {
    font-size: 40px;
  }

  .hero__btn {
    position: absolute;
    bottom: 104px;
    padding: 11px 35px;
    font-size: 16px;
    line-height: 1.5;
  }

  .hero__btn-link {
    display: none;
  }
}

@media(max-width: 479.99px) {
  .hero {
    padding-top: 10px;
    padding-bottom: 23px;
  }

  .container {
    max-width: 280px;
    padding: 0 20px;
  }

  .hero__banner {
    height: 204px;
  }

  .hero__banner:before {
    position: absolute;
    content: "";
    background-image: url(../img/vr-xs.png);
    max-width: 161px;
    height: 179px;
    top: 25px;
    right: 0;
    z-index: 3;
  }

  .hero__title {
    font-size: 35px;
    line-height: 1;
    letter-spacing: -0.08em;
    margin-bottom: 6px;
  }

  .hero__desc {
    font-size: 10px;
    line-height: 1.4;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .hero-content__list {
    margin-bottom: 34px;
  }

  .hero-content__item--left {
    flex-basis: 65px;
    max-height: 59px;
  }

  .hero-content__title-left {
    font-size: 26px;
  }

  .hero-content__text {
    font-size: 10px;
  }

  .hero-content__item--right {
    flex-basis: 54px;
    height: 53px;
  }

  .hero-content__title-right {
    font-size: 22px;
  }

  .hero__btn {
    position: absolute;
    bottom: 23px;
    padding: 8px 13px;
    font-size: 10px;
    line-height: 1.2;
  }
}