.pages__room {
  padding-bottom: 100px;
}

.pages__room-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.pages__room-content {
  display: grid;
  grid-template-columns: 600px auto;
  column-gap: 80px;
  align-items: center;
}

.pages__room-descr {
  max-width: 500px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
}

.pages__room-descr:not(:last-child) {
  margin-bottom: 20px;
}

@media(max-width: 1199.99px) {

  .pages__room {
    padding-bottom: 70px;
  }

  .container {
    max-width: 904px;
  }

  .pages__room-title {
    font-size: 30px;
    line-height: 1.33333;
    margin-bottom: 36px;
  }

  .pages__room-content {
    display: grid;
    grid-template-columns: 461px auto;
    column-gap: 30px;
    align-items: center;
  }

  .pages__room-descr {
    font-size: 18px;
    line-height: 1.55556;
    max-width: 413px;
  }
}

@media(max-width: 767.99px) {

  .pages__room {
    padding-bottom: 60px;
  }

  .container {
    max-width: 688px;
  }

  .pages__room-title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .pages__room-content {
    display: grid;
    grid-template-columns: 329px auto;
    column-gap: 30px;
    align-items: center;
  }

  .pages__room-descr {
    font-size: 16px;
    line-height: 1.75;
    max-width: 313px;
  }
}

@media(max-width: 479.99px) {

  .pages__room {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .container {
    max-width: 280px;
  }

  .pages__room-title {
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 15px;
  }

  .pages__room-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .pages__room-descr {
    font-size: 12px;
    line-height: 1.33333;
  }
}