.questions {
  padding-top: 50px;
  padding-bottom: 50px;
}

.questions__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.questions__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  list-style: none;
}

.questions__button {
  background-color: transparent;
}

.questions__btn--violet {
  color: transparent;
  stroke: var(--jagger);
  width: 46px;
  height: 46px;
  transition: color 0.3s ease-in-out;
}

.questions__btn--white {
  color: transparent;
  stroke: var(--main-color);
  transition: color 0.3s ease-in-out;
}

.questions__btn--violet::after {
  display: inline-block;
  content: "";
  width: 46px;
  height: 46px;
  background-size: contain;
  cursor: pointer;
}

.questions__btn--white::before {
  display: inline-block;
  content: "";
  width: 46px;
  height: 46px;
  background-size: contain;
  cursor: pointer;
}

.questions__btn--white:hover {
  background-color: #fff;
  border-radius: 100%;
  stroke-width: 1px;
  stroke: var(--purple);
}

.questions__btn--white:active {
  background-color: transparent;
  border-radius: 100%;
  stroke-width: 2px;
  stroke: var(--main-color);

  .none {
    display: none;
  }
}

.questions__btn--violet:hover {
  border-radius: 100%;
  background-color: var(--purple);
  stroke-width: 1px;
  stroke: var(--main-color);
}

.questions__btn--violet:active {
  background-color: transparent;
  border-radius: 100%;
  stroke-width: 2px;
  stroke: var(--purple);

  .none {
    display: none;
  }
}

.questions__item:not(:last-child) {
  margin-bottom: 20px;
}

.questions__item:nth-child(even) {
  color: var(--main-color);
  background-color: var(--jagger);
}

@media(max-width: 1199.99px) {
  .questions {
    padding-bottom: 58px;
  }

  .container {
    max-width: 904px;
  }

  .questions__title {
    font-size: 30px;
    line-height: 1.33333;
    margin-bottom: 26px;
  }

  .questions__item:nth-child(even) {
    background-color: #fff;
    color: var(--dark-color);
  }

  .questions__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .questions__btn--white {
    stroke: var(--jagger);
  }

}